html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: rgba(109, 118, 123, 1);
    font-size: 2.1961932650073206vw;
    letter-spacing: 0.02928257730310867vw;
    font-weight: 300;
}
// index desktop
.panel {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    .left {
        position: relative;
        z-index: 1;
        flex: 1;
        .bg {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0%;
            left: 0%;
            background: url('https://images.pexels.com/photos/933142/pexels-photo-933142.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat;
            background-size: cover;
            background-position: 0 0;
            animation: bg 20s infinite linear;
            filter: blur(0px);
            z-index: 2;
        }
        @keyframes bg {
            0% { background-position: 0 0; opacity: 0 }
            5% { opacity: 1 }
            95% { opacity: 1; }
            100% { background-position: 100% 0; opacity: 0; }
        }
        .content {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0%;
            left: 0%;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // box-shadow: 0px 0px 150px 20px;
            h1 {
                color: white;
                font-size: 2.1vw;
            }
            .line {
                height: 1px;
                background-color: #13491f;
            }
            h3 {
                color: white;
                font-size: 2vw;
            }
            footer {
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 100%;
                height: 25%;
                background-image: linear-gradient(to right, rgba( #123c1b, 0.5), rgba( #123c1b, 0.9));
                display: flex;
                overflow: hidden;
                .info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    padding: 5% 10% 1% 10%;
                    p {
                        font-size: 0.9vw;
                        color: whitesmoke;
                        margin: 0.15vw;
                        small {
                            font-size: 1vw;
                            color: rgb(255, 255, 255);
                            font-weight: 400;
                        }
                    } 
                }
            }
        }    
    }
    .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        overflow: hidden;
        .box {
            height: 40%;
            width: 50%;
            h1 {
                display: block;
                font-size: 2.4vw;
                margin-bottom: 1vw;
            }
            h3 {
                margin-bottom: 2vw;
                font-size: 1.2vw;
            }
            p {
                font-size: 1vw;
                margin-bottom: 1vw;
            }
            div {
                margin-bottom: 1vw;
                li {
                    list-style-type: none;
                    font-size: 1vw;
                    margin-bottom: 0.3vw;
                    &::before {
                        background-color: rgb(55, 111, 74);
                        border-radius: 50%;
                        content: "";
                        display: inline-block;
                        margin-right: 1.5vw;
                        margin-bottom: 0.2vw;
                        height: 0.34vw;
                        width: 0.34vw;
                    }                 
                }
            }
            .line {
                height: 1px;
                width: 100%;
                background-color: #13491f;
            }
            strong {
                display: block;
                text-align: right;
                margin-top: 2.5vw;
                font-size: 1.1vw;
            }
            small {
                display: block;
                text-align: right;
                margin-top: 0.5vw;
                font-size: 0.85vw;
            }
        }
    }
    .slider {
        position: absolute;
        bottom: 3%;
        left: 50%;
        height: 4vh;
        width: 2.2vh;
        background-color: rgba($color: rgb(24, 24, 24), $alpha: 0.3);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-content: center;
        .dot {
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            width: 1.4vh;
            height: 1.4vh;
            margin-top: 0.5vh;
            animation: dot 2.5s infinite;
        }
        @keyframes dot {
            0%  {transform: translateY(0vh)}
            10% {transform: translateY(2vh)}
            15% {transform: translateY(1.5vh)}
            30% {transform: translateY(2vh)}
            60% {transform: translateY(2vh)}
            100% {transform: translateY(0vh)}
        }
    }
}
// nav desktop
.nav-desktop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 10vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:rotateX(90deg);
    transition: 3s;
    .nav-item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .link {
            font-size: 1.25vw;
            text-decoration: none;
        }
        .link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-image: linear-gradient(to top, rgba(56,120,109,1), rgba(9,79,67,1));
            transition: width 1.5s;
        }
        .link:hover::after {   
            width: 100%;
            transition: width 1.5s;
        }
    }
    .nav-spacer-5 {
        flex: 5;
    }
    .nav-spacer-1 {
        flex: 0.5;
    }
}
// animacje
.top-active {
    transform:rotateX(0deg);
    transform: scale(1);
    transform-origin: top;
    transition: 3s;
    transition-delay: .5s;
}
.animate {
    opacity: 0;
    transition: 5s;
}
.bg {
    transform: scaleY(1);
}
.non-bg {
    transform: scaleY(0);
    transform-origin: bottom;
}
// page transition
.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.page-enter-active,
.page-leave-active {
  transition: filter 0.5s;
  transition: opacity 0.5s;
}